<div class="link-set">
  <ul>
    {% for link in links %}
    <li>
      <a href="{{link.url}}" class="link-set__link{% if link.variant %} {{link.variant}}{% endif %}">{{link.text}}</a>
    </li>
    {% endfor %}
  </ul>
</div>