<div class="college-home-hero--featured-image college-home-hero--supporting-image">
  <div class="college-home-hero--featured-image__media">
    <img src="{{ hero.image }}" alt="">
  </div>
  <div class="college-home-hero--featured-image__content">
    <h1 class="college-home-hero--featured-image__title">{{ hero.title }}</h1>
    {% include "@button-set" with hero.button_set %}
  </div>
</div>