/* Font Declarations
========================================================================== */

@font-face {
    font-family: "nimbus_sans_lregular";
    src: url("../../fonts/NimbusSanL-Reg-webfont.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "nimbus_sans_lregular_italic";
    src: url("../../fonts/NimbusSanL-RegIta-webfont.woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "nimbus_sans_lbold";
    src: url("../../fonts/NimbusSanL-Bol-webfont.woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "nimbus_sans_lbold_italic";
    src: url("../../fonts/NimbusSanL-BolIta-webfont.woff");
    font-weight: 700;
    font-style: italic;
}

/* Base
========================================================================== */

body {
    font-family: $nimbus-sans-regular;
    font-size: rfs-value(18px);
    line-height: $base-line-height;
    color: $base-color;
    @include media-breakpoint-up(md) {
        font-size: rfs-value(16px);
    }
}

a {
    .text-content & {
        color: $link-color;
        text-decoration: $link-text-decoration;
        transition: $link-transition;
        &:hover {
            color: $link_hover-color;
        }
        &.fancy-link {
            color: $fancy-link-color;
            font-family: $fancy-link-font-family;
            font-size: $fancy-link-font-size;
            font-weight: $fancy-link-font-weight;
            margin-right: 1.1rem;
            position: relative;
            text-decoration: $fancy-link-text-decoration;
            transition: $fancy-link-transition;
            &:hover {
                color: $fancy-link_hover-color;
                &:after {
                    transform: translateX(66.667%);
                }
            }
            &:after {
                content: $fancy-link-icon;
                position: absolute;
                transform: translateX(33.333%);
                transition: $fancy-link-icon-transition;
            }
        }
    }
}

p {
    margin: $base-margin;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

ul,
ol {
    .text-content & {
        margin: $list-margin;
        padding: $list-padding;
        li {
            font-size: $list-item-font-size;
            margin: $list-item-margin;
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        ul,
        ol {
            margin: $list-list-margin;
        }
    }
    .text-content > & {
        &:first-child {
            margin-top: 0;
            ul,
            ol,
            li {
                &:first-child {
                    margin-top: 0;
                }
            }
        }
        &:last-child {
            margin-bottom: 0;
            ul,
            ol,
            li {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

ul {
    .text-content & {
        list-style-type: $unordered-list-style-type;
    }
}

ol {
    .text-content & {
        list-style-type: $ordered-list-style-type;
    }
}

/* Headings
========================================================================== */

h1,
.h1,
%h1,
h2,
.h2,
%h2,
h3,
.h3,
%h3,
h4,
.h4,
%h4,
h5,
.h5,
%h5,
h6,
.h6,
%h6 {
    line-height: $heading-line-height;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

h1,
.h1,
%h1 {
    color: $red;
    font-family: $merriweather;
    font-size: rfs-value(50px);
    font-weight: normal;
    letter-spacing: 0;
    line-height: (60 / 50);
    margin: $h1-margin;
    @include media-breakpoint-up(md) {
        font-size: rfs-value(70px);
        line-height: (93 / 70);
    }
}

h2,
.h2,
%h2 {
    color: $red;
    font-family: $merriweather;
    font-size: rfs-value(30px);
    font-weight: 700;
    letter-spacing: 0;
    line-height: (42 / 30);
    margin: $h2-margin;
}

h3,
.h3,
%h3 {
    color: $red;
    font-family: $nimbus-sans-bold;
    font-size: rfs-value(21px);
    font-weight: 700;
    letter-spacing: 0;
    line-height: (30 / 21);
    margin: $h3-margin;
}

h4,
.h4,
%h4 {
    color: $red2;
    font-family: $nimbus-sans-bold;
    font-size: rfs-value(18px);
    font-weight: 700;
    letter-spacing: 0;
    line-height: (25 / 18);
    margin: $h4-margin;
}

h5,
.h5,
%h5 {
    color: $red2;
    font-family: $nimbus-sans-bold;
    font-size: rfs-value(16px);
    font-weight: 700;
    letter-spacing: 0;
    line-height: (25 / 16);
    margin: $h5-margin;
}

h6,
.h6,
%h6 {
    color: $h6-color;
    font-family: $h6-font-family;
    font-size: $h6-font-size;
    font-weight: $h6-font-weight;
    letter-spacing: $h6-letter-spacing;
    margin: $h6-margin;
}
