%button,
.button {
  display: block;
  border: rem(2) solid $iastate-maroon;
  border-radius: rem(30);
  padding: rem(5) rem(35) rem(5) rem(20);
  appearance: none;
  margin: rem(10) 0;
  text-align: left;
  cursor: pointer;
  background-color: $white;
  color: $iastate-maroon;
  font-family: $nimbus-sans-bold;
  font-weight: 700;
  font-size: rem(18);
  line-height: (32 / 18);
  text-decoration: none;
  transition: 0.2s color ease-in-out, 0.2s background-color ease-in-out, 0.2s padding ease-in-out;
  position: relative;
  @include media-breakpoint-up(md) {
    display: inline-block;
  }
  &:after,
  &:before {
    content: "";
    position: absolute;
    right: rem(17);
    transform-origin: center;
  }
  &:after {
    top: rem(18);
    width: rem(7);
    height: rem(7);
    border-right: rem(2) solid $iastate-gold;
    border-bottom: rem(2) solid $iastate-gold;
    transform: rotate(-45deg);
  }
  &:before {
    width: rem(0);
    border-bottom: rem(2) solid $iastate-gold;
    top: rem(20.375);
    transition: 0.2s width ease-in-out;
    transform-origin: center left;
  }
  &:hover {
    background-color: $iastate-maroon;
    color: $white;
    padding-right: rem(40);
    &:before {
      width: rem(14);
    }
  }
}

%button--reverse,
.button--reverse {
  border-color: $white;
  &:hover {
    background-color: $white;
    color: $iastate-maroon;
  }
  &:after,
  &:before {
    border-color: $iastate-maroon;
  }
}
