<div class="home-announcement">
  <svg class="home-announcement__icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32">
    <g data-name="Icon – Information" transform="translate(-1188 3251)">
      <circle data-name="Ellipse 7" cx="16" cy="16" r="16" transform="translate(1188 -3251)" fill="#f1be48"/>
      <g transform="translate(888.456 -3656.647)" fill="#003d4c">
        <circle data-name="Ellipse 8" cx="2" cy="2" r="2" transform="translate(313.544 413.648)"/><path data-name="Path 210" d="M317.153 429.895h-3.218v-10.759h3.214v6.043Z"/>
      </g>
    </g>
  </svg>
  <div class="home-announcement__text"><p>{{ text }} <a href="{{ link.url }}">{{ link.text }}</a></p></div>
</div>