<div class="home-announcement">
  <svg class="home-announcement__icon" xmlns="http://www.w3.org/2000/svg" width="32" height="30">
    <g data-name="Icon – Alert">
      <path data-name="Polygon 3" d="M12.503 2.09A3.968 3.968 0 0 1 17.961.522a4.055 4.055 0 0 1 1.537 1.568l11.989 21.818a4.135 4.135 0 0 1-1.537 5.568 3.95 3.95 0 0 1-1.961.523H4.009a4.051 4.051 0 0 1-4.01-4.091 4.153 4.153 0 0 1 .512-2Z" fill="#f1be48"/>
      <g data-name="Group 216" transform="translate(-262.107 -407.104)" fill="#003d4c">
        <circle data-name="Ellipse 8" cx="2" cy="2" r="2" transform="translate(276.107 428.029)"/>
        <path data-name="Path 210" d="M276.5 415.782h3.218v4.718l-.925 6.346h-1.369l-.92-6.346Z"/>
      </g>
    </g>
  </svg>
  <div class="home-announcement__text"><p>{{ text }} <a href="{{ link.url }}">{{ link.text }}</a></p></div>
</div>