<div class="privacy-consent" hidden>
    <div class="privacy-consent__content">
        {{ body|raw }}
    </div>
    <div class="privacy-consent__buttons">
        <button class="button privacy-consent__accept" type="button">Accept</button>
        <button class="button privacy-consent__decline" type="button">Decline</button>
    </div>
</div>