<div class="silc-hero silc-hero--full-screen silc-hero--overlay">
	<div class="silc-hero__media" style="background-image: url({{ media|path }})"></div>
	<div class="silc-hero__content-wrapper">
		<div class="silc-hero__content silc-align--center">
			<h1>{{ title }}</h1>
			<p>{{ body }}</p>
		</div>
	</div>
</div>
