<div class="hero hero--top-level-lp">
  <div class="hero__text-wrap">
    {% include "@breadcrumb" with breadcrumbs %}
    <h1 class="hero__title">{{title}}</h1>
  </div>
  {% if image %}
  <div class="hero__media">
    <img src="{{image}}" alt="">
  </div>
  {% endif %}
  <div class="hero__subnav-wrap">
    {% include "@subnav--horizontal" with subnav %}
  </div>
</div>