<div class="silc-hero silc-hero--callout">
    <div class="silc-hero__content-wrapper">
        <div class="silc-hero__content silc-align--center">
            <h3>{{ title }}</h3>
            <p>{{ body }}</p>
        </div>
    </div>
</div>
