<div class="silc-hero silc-hero--full-screen silc-hero--overlay">
    <div class="silc-hero__media">
        <iframe role="presentation" aria-hidden="true" src="{{ media|path }}" width="640" height="360" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
    </div>
    <div class="silc-hero__content-wrapper">
        <div class="silc-hero__content">
            <h1>{{ title }}</h1>
            <p>{{ body }}</p>
        </div>
    </div>
</div>
