<div class="silc-hero">
    <div class="silc-hero__media"></div>
    <div class="silc-hero__content-wrapper">
        <div class="silc-hero__content silc-align--center">
            <h1>{{ title }}</h1>
            <p>{{ body }}</p>
        </div>
    </div>
</div>
