<div class="pull-quote{% if portrait %} pull-quote--with-image{% else %} pull-quote--with-no-image{% endif %}">
  <div class="pull-quote__inner-wrap">
    {% if portrait %}
    <div class="pull-quote__portrait">
      <img src="{{ portrait|path }}" alt="" />
    </div>
    {% endif %}
    <div class="pull-quote__text-wrap">
      <h2 class="pull-quote__quote">{{quote}}</h2>
      {% if author %}
      <p class="pull-quote__author">{{author}}{% if author_role %}, {{author_role}}{% endif %}</p>
      {% endif %}
    </div>
  </div>
</div>