<div class="video-embed">
  <div class="video-embed__media-wrap">
    <img src="{{ wallpaper|path }}" alt="" />
    <div class="video-embed__video" aria-label="YouTube Video: {{ title }}" data-vid="{{ video_id }}"></div>
  </div>
  {% if caption %}
    <div class="video-embed__caption">{{ caption }}</div>
  {% endif %}
</div>