.home-hero {
  position: relative;
  max-height: 95vh;
  min-height: rem(667);
  @include media-breakpoint-up(md) {
    min-height: 100vh;
    max-height: none;
  }
}

.home-hero__media {
  @extend %responsive-img;
  max-height: 95vh;
  min-height: rem(667);
  @include media-breakpoint-up(md) {
    min-height: 100vh;
    max-height: none;
  }

  &:before {
    padding-top: 192.03%;
    @include media-breakpoint-up(md) {
      padding-top: 65.63%;
    }
  }

  .home-hero__media-mobile,
  .home-hero__media-desktop {
    object-position: center top;
  }

  .home-hero__media-mobile {
    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  .home-hero__media-desktop {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
    }
  }
}

.home-hero__content-wrapper {
  @extend %outer-pad-x;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  @include media-breakpoint-up(xl) {
    padding-right: rem(190);
  }
  .iastate22-button {
    margin-top: rem(30);
    display: inline-block;
    @include media-breakpoint-up(xl) {
      margin-top: rem(55);
    }
  }
}

.home-hero__title {
  color: $white;
  @include media-breakpoint-up(sm) {
    font-size: 11vw;
    width: 93%;
  }
  @include media-breakpoint-up(md) {
    font-size: 8vw;
  }
  @include media-breakpoint-up(xl) {
    font-size: 6vw;
  }
  @include media-breakpoint-up(xxl) {
    font-size: rem(110);
    line-height: (118 / 110);
    width: 100%;
    max-width: rem(800);
  }
  span {
    color: $iastate-gold;
  }
}

.home-hero__animation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  mix-blend-mode: multiply;
  width: 132%;
  left: -11%;
  pointer-events: none;
  @include media-breakpoint-up(sm) {
    left: -10%;
    width: 115%;
  }
  @include media-breakpoint-up(md) {
    max-width: rem(900);
    left: 0;
  }
  @include media-breakpoint-up(xl) {
    max-width: rem(1400);
    transform: translateY(-40%);
    width: 90%;
    left: -5%;
  }
  svg {
    width: 100%;
    path {
      fill: $iastate-red;
      mix-blend-mode: multiply;
      isolation: isolate;
      d: path("M 50 40 L 150 0 L 210 70 L 300 95 L 280 200 L 200 240 L 60 285 L 35 150 L 50 40 Z");
      animation: heartAnimation 5s forwards;
      animation: heartAnimation 5s infinite;
      @media (prefers-reduced-motion) {
        animation: none;
      }
    }
  }
  &.paused {
    svg path {
      animation-play-state: paused;
    }
  }
}

.home-hero__animation-control {
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: rem(30);
  right: rem(30);
  width: rem(44);
  height: rem(44);
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .home-hero__animation-control-line {
    height: rem(25);
    border-left: rem(6) solid $white;
    display: block;
    margin-right: rem(5);
    & + .home-hero__animation-control-line {
      margin-right: 0;
    }
  }
  &.paused {
    .home-hero__animation-control-line {
      border-left: rem(18) solid $white;
      border-right: rem(18) solid transparent;
      border-bottom: rem(13) solid transparent;
      border-top: rem(13) solid transparent;
      margin: 0;
      position: relative;
      left: rem(10);
      & + .home-hero__animation-control-line {
        display: none;
      }
    }
  }
  .home-hero--with-announcement & {
    bottom: rem(60);
  }
}

@keyframes heartAnimation {
  0% {
    d: path("M 50 40 L 150 0 L 210 70 L 300 95 L 280 200 L 200 240 L 60 285 L 35 150 L 50 40 Z");
  }

  50% {
    d: path("M 60 50 L 155 60 L 290 75 L 320 180 L 240 275 L 125 260 L 50 250 L 55 145 L 60 50 Z");
  }

  100% {
    d: path("M 75 70 L 140 30 L 235 75 L 335 125 L 260 225 L 170 245 L 85 265 L 10 110 L 75 70 Z");
  }
}

@keyframes heartAnimation {
  0% {
    d: path("M 50 40 L 150 0 L 210 70 L 300 95 L 280 200 L 200 240 L 60 285 L 35 150 L 50 40 Z");
  }

  25% {
    d: path("M 60 50 L 155 60 L 290 75 L 320 180 L 240 275 L 125 260 L 50 250 L 55 145 L 60 50 Z");
  }

  50% {
    d: path("M 75 70 L 140 30 L 235 75 L 335 125 L 260 225 L 170 245 L 85 265 L 10 110 L 75 70 Z");
  }

  75% {
    d: path("M 60 50 L 155 60 L 290 75 L 320 180 L 240 275 L 125 260 L 50 250 L 55 145 L 60 50 Z");
  }

  100% {
    d: path("M 50 40 L 150 0 L 210 70 L 300 95 L 280 200 L 200 240 L 60 285 L 35 150 L 50 40 Z");
  }
}

// Home Community Section
.home-community {
  @extend %outer-pad-x;
  @include media-breakpoint-up(lg) {
    padding-top: rem(50);
  }
  @include media-breakpoint-up(xl) {
    padding-right: rem(190);
  }
}

.home-community__content-wrap {
  margin: 0 auto;
  max-width: rem(842);
}

.home-community__label {
  font-family: $nimbus-sans-bold;
  font-weight: 700;
  color: $iastate-red;
  font-size: rem(21);
  line-height: (30 / 21);
  text-align: center;
  position: relative;
  @include media-breakpoint-up(lg) {
    font-size: rem(22);
    line-height: (31 / 22);
    margin-bottom: rem(13);
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: rem(21);
    width: rem(37);
    border-bottom: rem(2) solid $iastate-gold;
  }
  &:before {
    left: rem(-37);
  }
  &:after {
    right: rem(-37);
  }
}

.home-community__headline {
  text-align: center;
  font-size: rem(37);
  line-height: (48 / 37);
  margin-top: rem(22);
  margin-bottom: 0;
  padding-bottom: 0;
  @include media-breakpoint-up(lg) {
    font-size: rem(53);
    line-height: (66 / 53);
    width: 50%;
    margin: 0 auto rem(22);
  }
}

.home-community__body {
  text-align: center;
  color: $iastate-maroon;
  line-height: (29 / 18);
  margin-top: rem(15);
  @include media-breakpoint-up(lg) {
    font-size: rem(21);
    line-height: (33 / 21);
  }
}

.home-community__callout {
  display: flex;
  flex-direction: column-reverse;
  margin-top: rem(37);
  @include media-breakpoint-up(md) {
    flex-direction: row-reverse;
  }
}

.home-community__callout-content-wrap {
  margin-top: rem(45);
  order: 2;
  @include media-breakpoint-up(md) {
    order: initial;
    flex: 0 1 auto;
    width: 25%;
  }
}

.home-community__callout-media-statistic-wrap {
  @include media-breakpoint-up(md) {
    flex: 0 1 auto;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }
}

.home-community__callout-headline {
  @extend %h2-yellow-border;
}

.home-community__callout-body {
  color: $iastate-maroon;
  line-height: (29 / 18);
}

.home-community__callout-media {
  @extend %responsive-img;
  box-shadow: 0 rem(12) rem(24) rgba($black, 0.2);
  order: 3;
  @include media-breakpoint-up(md) {
    flex: 0 1 auto;
    width: 40%;
    order: initial;
  }
  &:before {
    padding-top: 77.49%;
    @include media-breakpoint-up(md) {
      padding-top: 66.73%;
    }
  }
}

.home-community__callout-media-two {
  display: none;
  @include media-breakpoint-up(md) {
    display: block;
    flex: 0 1 auto;
    width: 40%;
    order: 1;
  }
  @extend %responsive-img;
  &:before {
    @include media-breakpoint-up(md) {
      padding-top: 60.67%;
    }
  }
}

.home-community__callout-statistic {
  display: flex;
  align-items: center;
  background-color: $light-grey;
  padding: rem(30) rem(20);
  position: relative;
  margin: rem(50) auto rem(-120);
  max-width: rem(342);
  order: 1;
  z-index: 1;
  @include media-breakpoint-up(md) {
    order: initial;
    margin: 0;
    display: block;
    text-align: center;
  }

  &:before {
    content: "";
    border-bottom: rem(8) solid $iastate-gold;
    top: rem(-4);
    left: 50%;
    margin-left: rem(-28);
    width: rem(56);
    height: rem(8);
    position: absolute;
  }
}
.home-community__callout-statistic-stat {
  color: $iastate-maroon;
  flex: 0 1 auto;
  width: 40%;
  text-align: center;
  font-family: $merriweather;
  font-weight: 700;
  font-size: rem(51);
  line-height: (51 / 51);
  margin: 0;
  @include media-breakpoint-up(md) {
    width: 100%;
  }
}
.home-community__callout-statistic-description {
  color: $iastate-maroon;
  flex: 0 1 auto;
  width: 60%;
  font-family: $nimbus-sans-bold;
  font-weight: 700;
  font-size: rem(18);
  line-height: (26 / 18);
  margin: 0;
  padding-left: rem(15);
  @include media-breakpoint-up(md) {
    width: 100%;
    padding-left: 0;
  }
}

// Home Blockquote Section
.home-iastate22-blockquote {
  padding-top: rem(230);
  padding-bottom: rem(90);
  @include media-breakpoint-up(lg) {
    padding-top: rem(158);
    padding-bottom: rem(190);
  }
  .iastate22-modal__container {
    padding: rem(45) 0 0 0;
    width: 100%;
    max-width: rem(1000);
  }
  .iastate22-blockquote__portrait {
    max-width: none;
    width: 75%;
    cursor: pointer;
    @include media-breakpoint-up(xl) {
      max-width: rem(258);
    }
  }
  .video-embed__button {
    top: 78%;
  }
  .iastate22-modal__media {
    &:before {
      display: none;
    }
    .video-embed__button {
      top: 50%;
    }
  }
  .iastate22-blockquote__quote {
    line-height: (38 / 30);
    @include media-breakpoint-up(lg) {
      font-size: rem(41);
      line-height: (57 / 41);
    }
    &:after {
      bottom: rem(-116);
      @include media-breakpoint-up(lg) {
        bottom: rem(-70);
      }
    }
  }
  .iastate22-blockquote__author {
    width: 67%;
    padding-right: 0;
    margin-top: rem(55);
    @include media-breakpoint-up(lg) {
      margin-top: rem(10);
    }
  }
  .video-embed__media-wrap {
    &:after {
      display: none;
    }
  }
}

// home academics section
.home-academics {
  @extend %outer-pad-x;
  padding-top: rem(70);
  padding-bottom: rem(60);
  @include media-breakpoint-up(lg) {
    display: flex;
    flex-wrap: wrap;
  }
  @include media-breakpoint-up(xl) {
    padding-right: rem(190);
  }
}

.home-academics__copy-explore-wrap {
  @include media-breakpoint-up(lg) {
    flex: 0 1 auto;
    width: 40%;
  }
}

.home-academics__headline {
  @extend %h2-yellow-border;
  width: 80%;
}

.home-academics__intro-copy {
  color: $iastate-maroon;
  line-height: (29 / 18);
  @include media-breakpoint-up(lg) {
    font-size: rem(21);
    line-height: (33 / 21);
  }
}

.home-academics__image-grid {
  margin: rem(50) rem(-36);
  @include media-breakpoint-up(lg) {
    flex: 0 1 auto;
    width: 60%;
    margin: rem(-130) 0 0 0;
  }

  .image-grid__image {
    margin-bottom: rem(10);
    &:before {
      display: none;
    }
  }
}

.home-academics__explore {
  margin-top: rem(48);
  ul {
    margin-top: rem(14);
    li {
      margin-bottom: rem(3);
      a {
        color: $iastate-maroon;
        font-family: $nimbus-sans-bold;
        font-weight: 700;
        transition: 0.2s color ease-in-out;
        &:hover {
          color: $iastate-red;
        }
      }
    }
  }
}

// home solutions section
.home-solutions {
  @extend %outer-pad-x;
  padding-top: rem(70);
  padding-bottom: rem(60);
  position: relative;
  @include media-breakpoint-up(xl) {
    padding-right: rem(190);
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: rem(530);
    background-color: $off-white;
    @include media-breakpoint-up(lg) {
      height: rem(444);
    }
  }
}

.home-solutions__headline {
  @extend %h2-yellow-border;
  @include media-breakpoint-up(lg) {
    text-align: center;
  }
  &:after {
    @include media-breakpoint-up(lg) {
      left: 50%;
      margin-left: rem(-25);
    }
  }
}

.home-solutions__intro-copy {
  position: relative;
  z-index: 1;
  color: $iastate-maroon;
  line-height: (29 / 18);
  @include media-breakpoint-up(lg) {
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }
}

.home-solutions__carousel-holder {
  margin-top: rem(47);
}

.home-solutions__carousel {
  @include media-breakpoint-up(lg) {
    display: flex;
  }
}

.home-solutions__carousel-slide {
  width: 66%;
  margin-right: rem(40);
  &:last-child {
    margin-right: 0;
  }
}

// home location section
.home-location {
  position: relative;
  @include media-breakpoint-up(lg) {
    padding-left: rem(79);
    padding-right: rem(79);
  }
}

.home-location__media {
  @extend %responsive-img;
  @include media-breakpoint-up(lg) {
    border: rem(10) solid $iastate-gold;
  }

  &:before {
    padding-top: 55.56%;
  }
}

.home-location__caption {
  background-color: $iastate-dark-blue;
  padding: rem(33) rem(36);
  position: relative;
  z-index: 1;
  @include media-breakpoint-up(lg) {
    position: absolute;
    display: flex;
    align-items: center;
    top: rem(81);
    max-width: rem(432);
  }
  .fa-location-dot {
    color: $iastate-gold;
    position: absolute;
    font-size: rem(48);
    top: rem(-27);
    @include media-breakpoint-up(lg) {
      position: relative;
      top: 0;
    }
  }
}

.home-location__caption-text {
  color: $white;
  font-family: $merriweather;
  font-weight: 700;
  font-size: rem(16);
  line-height: (21 / 16);
  a {
    color: $iastate-gold;
    font-family: $nimbus-sans-bold;
    font-weight: 700;
    text-decoration-thickness: rem(1);
    text-underline-offset: rem(2);
    transition: 0.2s color ease-in-out;
    &:hover {
      color: $white;
    }
  }
}

// home social section
.home-social {
  background-color: $iastate-red;
  @extend %outer-pad-x;
  display: flex;
  flex-direction: column-reverse;
  @include media-breakpoint-up(xl) {
    flex-direction: row;
    align-items: center;
    padding-right: 0;
  }
}

.home-social__headline-icons-wrap {
  margin: rem(40) 0 rem(26);
  @include media-breakpoint-up(xl) {
    flex: 0 1 auto;
    width: 35%;
    margin: 0;
  }
  @include media-breakpoint-up(xxl) {
    flex: 0 1 auto;
    width: 25%;
  }
}

.home-social__headline {
  color: $white;
  width: 50%;
  padding: 0;
  margin-bottom: rem(20);
  @include media-breakpoint-up(xl) {
    width: auto;
  }
  @include media-breakpoint-up(xxl) {
    width: 50%;
  }
}

.home-social__social-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: rem(27) 0;
  @include media-breakpoint-up(md) {
    justify-content: flex-start;
  }
  @include media-breakpoint-up(xl) {
    margin: 0;
  }
  li {
    margin-right: rem(15);
    a {
      border: rem(2) solid $iastate-gold;
      border-radius: 50%;
      width: rem(52);
      height: rem(52);
      display: flex;
      align-items: center;
      justify-content: center;
      color: $white;
      transition: 0.2s background-color ease-in-out;
      &:hover {
        background-color: $iastate-maroon;
      }
      svg {
        color: $iastate-gold;
        font-size: rem(25);
      }
    }
  }
}

.home-social__images-wrap {
  position: relative;
  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  @include media-breakpoint-up(xl) {
    flex: 0 1 auto;
    width: 65%;
  }
  @include media-breakpoint-up(xxl) {
    flex: 0 1 auto;
    width: 75%;
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: rem(-36);
    right: rem(-36);
    background-color: $white;
    height: rem(48);
    @include media-breakpoint-up(md) {
      left: rem(-70);
      right: rem(-70);
    }
    @include media-breakpoint-up(xl) {
      width: 150vw;
      left: -50vw;
      height: rem(18);
    }
    @include media-breakpoint-up(xxl) {
      height: rem(27);
    }
  }
  &:after {
    display: none;
    @include media-breakpoint-up(xl) {
      display: block;
      top: initial;
      bottom: 0;
    }
  }
}

.home-social__images-image {
  @extend %responsive-img;
  box-shadow: 0 rem(13) rem(16) rgba($black, 0.2);
  position: relative;
  z-index: 1;
  @include media-breakpoint-up(md) {
    flex: 1 1 0;
    margin-right: rem(15);
  }
  &:nth-child(2),
  &:last-child {
    display: none;
    @include media-breakpoint-up(md) {
      display: block;
    }
  }
  &:last-child {
    @include media-breakpoint-up(md) {
      margin-right: 0;
    }
  }
  &:before {
    padding-top: 100%;
  }
}

// home resources section
.home-resources {
  @extend %outer-pad-x;
  padding-top: rem(40);
  @include media-breakpoint-up(lg) {
    padding-top: rem(70);
  }
  @include media-breakpoint-up(xl) {
    padding-top: rem(95);
    padding-right: rem(190);
  }

  .link-set {
    flex: 1 1 0;
    padding-left: rem(12);
    @include media-breakpoint-up(lg) {
      flex: 0 1 auto;
      width: 50%;
      padding-left: rem(29);
      padding-top: rem(5);
    }
    @include media-breakpoint-up(xxl) {
      padding-left: rem(55);
    }
    ul {
      @include media-breakpoint-up(lg) {
        column-count: 2;
      }
      li {
        line-height: (25 / 18);
        margin-bottom: rem(18);
        @include media-breakpoint-up(lg) {
          margin-bottom: rem(10);
        }
        a {
          color: $iastate-maroon;
          font-family: $nimbus-sans-bold;
          font-weight: 700;
          font-size: rem(18);
          text-decoration-thickness: rem(1);
          text-underline-offset: rem(2);
          transition: 0.2s color ease-in-out;
          &:hover {
            color: $iastate-red;
          }
        }
      }
    }
  }
}

.home-resources__headline {
  @extend %h2-yellow-border;
  text-align: center;
  margin: 0 auto;
  font-size: rem(37);
  line-height: (48 / 37);
  @include media-breakpoint-up(lg) {
    font-size: rem(53);
    line-height: (66 / 53);
  }
  &:after {
    left: 50%;
    margin-left: -25px;
  }
}

.home-resources__subhead-link-wrap {
  display: flex;
  margin-top: rem(35);
  @include media-breakpoint-up(lg) {
    margin-bottom: rem(50);
  }
  @include media-breakpoint-up(xl) {
    margin-left: rem(-65);
  }
}

.home-resources__subhead-wrap {
  flex: 1 1 0;
  padding-right: rem(12);
  @include media-breakpoint-up(lg) {
    flex: 0 1 auto;
    width: 50%;
    padding-right: rem(26);
  }
  @include media-breakpoint-up(xxl) {
    padding-right: rem(55);
  }
}

.home-resources__subhead {
  font-family: $merriweather;
  font-weight: 700;
  text-align: right;
  font-size: rem(23);
  line-height: (35 / 23);
  @include media-breakpoint-up(lg) {
    font-size: rem(30);
    line-height: (44 / 30);
    width: 75%;
    margin-left: auto;
  }
  @include media-breakpoint-up(xl) {
    width: 50%;
  }
}

.home-resources__questions-image-wrap {
  @include media-breakpoint-up(lg) {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: rem(-80);
  }
  @include media-breakpoint-up(xl) {
    margin-left: rem(-52);
    margin-top: rem(90);
  }
  @include media-breakpoint-up(xxl) {
    margin-bottom: rem(-150);
  }
}

.home-resources__questions {
  margin-top: rem(40);
  @include media-breakpoint-up(lg) {
    flex: 1 1 0;
  }
}

.home-resources__questions-subhead {
  text-align: center;
  color: $iastate-maroon;
  font-size: rem(30);
  line-height: (26 / 30);
  position: relative;
  padding-bottom: rem(28);
  @extend %h2-yellow-border;
  @include media-breakpoint-up(lg) {
    text-align: left;
  }
  &:after {
    left: 50%;
    margin-left: -25px;
    @include media-breakpoint-up(lg) {
      left: 0;
      margin: 0;
      bottom: initial;
      top: rem(-40);
    }
  }
}

.home-resources__questions-links {
  width: 75%;
  margin: rem(15) auto;
  @include media-breakpoint-up(lg) {
    margin: 0;
  }
}

.home-resources__image {
  margin-top: rem(30);
  margin-left: rem(-36);
  margin-bottom: rem(30);
  width: 85%;
  position: relative;
  box-shadow: rem(4) rem(13) rem(27) rgba($black, 0.2);
  z-index: 1;
  @extend %responsive-img;
  @include media-breakpoint-up(lg) {
    flex: 1 1 0;
    margin: 0 rem(54) 0 0;
    width: auto;
  }
  @include media-breakpoint-up(xxl) {
    margin-right: rem(97);
    left: rem(-15);
  }

  img {
    z-index: 1;
  }

  &:before {
    padding-top: 72.41%;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: rem(-30);
    left: rem(-36);
    background-color: $iastate-red;
    height: rem(135);
    width: 150vw;
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}

// home ctas (calls to action) section
.home-ctas {
  background-color: $iastate-red;
  @extend %outer-pad-x;
  display: flex;
  flex-direction: column;
  padding-bottom: rem(47);
  position: relative;
  @include media-breakpoint-up(lg) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  @include media-breakpoint-up(xl) {
    padding-right: rem(81);
    padding-left: rem(81);
  }
  &:before {
    @include media-breakpoint-up(lg) {
      content: "";
      background-color: $white;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 40%;
    }
    @include media-breakpoint-up(xl) {
      height: 46%;
    }
  }
  .iastate22-button-set {
    @include media-breakpoint-up(lg) {
      flex: 1 1 0;
      margin: 0;
      position: relative;
      left: rem(27);
    }
    ul {
      li {
        margin-bottom: rem(26);
        @include media-breakpoint-up(lg) {
          margin-bottom: rem(5);
        }
        a {
          @extend %iastate22-button--reverse;
          @include media-breakpoint-up(lg) {
            min-width: rem(304);
          }
        }
      }
    }
  }
}

.home-ctas__headline-button-wrap {
  order: 2;
  margin-top: rem(70);
  margin-bottom: rem(20);
  @include media-breakpoint-up(lg) {
    order: 3;
    flex: 0 1 auto;
    width: 100%;
    display: flex;
    align-items: flex-end;
  }
  @include media-breakpoint-up(xl) {
    margin-top: rem(100);
  }
}

.home-ctas__headline-wrap {
  @include media-breakpoint-up(lg) {
    flex: 1 1 0;
  }
}

.home-ctas__headline {
  color: $white;
  font-size: rem(54);
  line-height: (64 / 54);
  padding: 0;
  margin-bottom: rem(43);
  @include media-breakpoint-up(lg) {
    width: 75%;
    margin-left: auto;
  }
  @include media-breakpoint-up(xl) {
    width: 50%;
  }
}

.home-ctas__image {
  @extend %responsive-img;
  order: 3;
  box-shadow: rem(4) rem(13) rem(27) rgba($black, 0.2);
  margin-right: rem(-36);
  @include media-breakpoint-up(md) {
    margin-right: rem(-70);
  }
  @include media-breakpoint-up(lg) {
    order: 1;
    margin: 0;
    flex: 0 1 auto;
    width: 50%;
    position: relative;
    top: rem(100);
    left: rem(-26);
  }
  @include media-breakpoint-up(xl) {
    left: rem(-50);
  }
  @include media-breakpoint-up(xxl) {
    width: 43%;
    left: 0;
  }
  &:before {
    padding-top: 62.43%;
    @include media-breakpoint-up(lg) {
      padding-top: 60%;
    }
  }
  & + .home-ctas__image {
    order: 1;
    @include media-breakpoint-up(lg) {
      top: 0;
      left: rem(27);
    }
    @include media-breakpoint-up(xxl) {
      width: 50%;
      margin-left: rem(84);
    }
    &:before {
      padding-top: 72.49%;
      @include media-breakpoint-up(lg) {
        padding-top: 71.91%;
      }
    }
  }
}

// home full width campus photo section
.home-full-width-campus-photo {
  @extend %responsive-img;

  &:before {
    padding-top: 114.49%;
    @include media-breakpoint-up(sm) {
      padding-top: 45.83%;
    }
  }
  .home-full-width-campus-photo__desktop {
    display: none;
    @include media-breakpoint-up(sm) {
      display: block;
    }
  }

  .home-full-width-campus-photo__mobile {
    @include media-breakpoint-up(sm) {
      display: none;
    }
  }
}

// unique home button
.home-link-button {
  position: relative;
  display: flex;
  align-items: center;
  color: $iastate-maroon;
  font-family: $nimbus-sans-bold;
  font-weight: 700;
  font-size: rem(16);
  line-height: (26 / 16);
  text-decoration: none;
  .home-link-button__arrow-wrap {
    border: rem(2) solid $iastate-maroon;
    border-radius: rem(25);
    width: rem(48);
    height: rem(46);
    display: inline-block;
    transition: 0.2s width ease-in-out;
    margin-right: rem(12);
    flex: 0 0 auto;
    .arrow {
      right: initial;
      top: 49%;
      left: rem(26);
      width: rem(0);
    }
  }
  &:hover {
    .home-link-button__arrow-wrap {
      width: rem(58);
      .arrow {
        width: rem(15);
      }
    }
  }
}
