<script>
  document.body.classList.add("admission-and-aid");
</script>

<div class="admission-aid-hero">
  <div class="admission-aid-hero__breadcrumbs">
    {% include "@breadcrumb--top-level-pages" with hero.breadcrumbs %}
  </div>
  <div class="admission-aid-hero__media">
		<img class="admission-aid-hero__media-mobile" src="{{ hero.image_mobile|path }}" alt="" />
    <img class="admission-aid-hero__media-desktop" src="{{ hero.image_desktop|path }}" alt="" />
	</div>
  <div class="admission-aid-hero__content-wrapper">
    <h1 class="admission-aid-hero__title">{{ hero.title }}</h1>
    {# <svg class="admission-aid-hero__graphic" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" width="1076" height="680"><path d="m408.021 388.64-175.049-95.922 485.844-143.485 568.521 191.932 21.927 232.4v110.6L509.91 828.8Z" transform="rotate(180 654.632 414.398)" fill="#c8102e" style="mix-blend-mode:multiply;isolation:isolate"/></svg> #}
    <div class="admission-aid-hero__graphic">
      <svg preserveAspectRatio="xMidYMid meet" width="800" height="600" xmlns="http://www.w3.org/2000/svg"><path d="m582 75 74 318 125 69-350 104L22 428 3 264v-85L582 75z"/></svg>
    </div>
  </div>
  <div class="hero__subnav-wrap">
    {% include "@subnav--horizontal" with hero.subnav_horizontal %}
  </div>
</div>