<section>
  <div class="outer-pad">
    <div class="text-content">
        <h1>idfive component library</h1>
        <p>Nullam quis risus eget urna mollis ornare vel eu leo. Morbi leo risus, porta ac consectetur ac, vestibulum at
        eros. Etiam porta sem malesuada magna mollis euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <h2>Heading 2</h2>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul>
            <li>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</li>
            <li>Donec id elit non mi porta gravida at eget metus.
                <ul>
                    <li>Tristique</li>
                    <li>Mattis</li>
                    <li>Nullam</li>
                </ul>
            </li>
            <li>Etiam porta sem malesuada magna mollis euismod.</li>
        </ul>
        <h3>Heading 3</h3>
        <ol>
            <li>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</li>
            <li>Donec id elit non mi porta gravida at eget metus.</li>
            <li>Etiam porta sem malesuada magna mollis euismod.</li>
        </ol>
        <h4>Heading 4</h4>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur
        est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id
        dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
        Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum.</p>
        <h5>Heading 5</h5>
        <dl>
            <dt>Definition list title</dt>
            <dd>Definition list description</dd>
        </dl>
        <h6>Heading 6</h6>
        <p>Etiam porta sem malesuada magna mollis euismod. Cum sociis natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Donec id elit non mi porta gravida at eget metus. Cum sociis natoque penatibus et magnis
        dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus
        magna, vel scelerisque nisl consectetur et. Donec id elit non mi porta gravida at eget metus.</p>
    </div>
  </div>
</section>
<section>
  <div class="outer-pad">
    <h2>Hero</h2>
  </div>
  {% render "@hero" %}
</section>
<section>
  <div class="outer-pad">
    <h2>Breadcrumb</h2>
    {% render "@breadcrumb" %}
  </div>
</section>
<section>
  <div class="outer-pad">
    <h2>Accordion</h2>
    {% render "@accordion" %}
  </div>
</section>
<section>
  <div class="outer-pad">
    <h2>Nav</h2>
    {% render "@nav" %}
  </div>
</section>
<section>
  <div class="outer-pad">
    <h2>Button</h2>
    {% render "@button" %}
  </div>
</section>
<section>
  <div class="outer-pad">
    <h2>Blockquote</h2>
    {% render "@blockquote" %}
  </div>
</section>
<section>
  <div class="outer-pad">
    <h2>Carousel</h2>
    {% render "@carousel" %}
  </div>
</section>
<section>
  <div class="outer-pad">
    <h2>Card</h2>
    <div class="silc-grid">
      <div class="silc-grid__col silc-grid__col--4-800">
        {% render "@card" %}
      </div>
      <div class="silc-grid__col silc-grid__col--4-800">
        {% render "@card" %}
      </div>
      <div class="silc-grid__col silc-grid__col--4-800">
        {% render "@card" %}
      </div>
    </div>
  </div>
</section>
<section>
  <div class="outer-pad">
    <h2>Card (Horizontal)</h2>
    <div class="silc-grid">
      <div class="silc-grid__col silc-grid__col--6-800">
        {% render "@card--hz" %}
      </div>
      <div class="silc-grid__col silc-grid__col--6-800">
        {% render "@card--hz" %}
      </div>
    </div>
  </div>
</section>
<section>
  <div class="outer-pad">
    <h2>Table</h2>
    {% render "@table" %}
  </div>
</section>
<section>
  <div class="outer-pad">
    <h2>Share</h2>
    {% render "@share" %}
  </div>
</section>
<section>
  <div class="outer-pad">
    <h2>Callout</h2>
  </div>
  {% render "@callout" %}
</section>
<section>
  <div class="outer-pad">
    <h2>iFrame</h2>
    {% render "@iframe" %}
  </div>
</section>
<section>
  <div class="outer-pad">
    <h2>Modal</h2>
    <p><a href="#modal-1" data-micromodal-trigger="modal-1">Open Modal</a></p>
    {% render "@modal" %}
  </div>
</section>
<section>
  <div class="outer-pad">
    <h2>Vue App</h2>
    <div id="vue-app">
      <example-component/>
    </div>
  </div>
</section>
