<div class="outer-pad">
  {% include "@hero--top-level-lp" with hero %}
  
  <div class="maj-min-cert-statistic">
    <div class="paragraph-widget paragraph-widget--statistic-with-text">
      <div class="text-content">
        {% include "@statistic-with-text--right" with statistic_with_text %}
      </div>
    </div>
  </div>
</div>
