@import "variables";

.card {
  box-shadow: rem(9) rem(9) rem(20) rgba($black, 0.2);
  background: $white;
  text-align: center;
  position: relative;
  z-index: 1;
  &.clickable {
    cursor: pointer;
    &:hover {
      &:before {
        opacity: 1;
      }
      .card__media {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
  &:before {
    content: "";
    background-color: $iastate-gold;
    position: absolute;
    top: rem(-8);
    left: rem(-8);
    right: rem(-8);
    bottom: rem(-8);
    z-index: 0;
    opacity: 0;
    transition: 0.2s opacity ease-in-out;
  }
}

.card--hz {
  display: flex;
  border: $card--hz-border;
  box-shadow: rem(9) rem(9) rem(20) rgba($black, 0.2);
}

.card__cta {
  font-family: $nimbus-sans-bold;
  color: $iastate-maroon;
  font-weight: 700;
  font-size: rem(18);
  line-height: (28 / 18);
  transition: 0.2s color ease-in-out;
  margin-top: rem(5);
  display: inline-block;
  &:hover {
    color: $iastate-red;
  }
}

.card__content {
  margin: 0;
  padding: rem(22) rem(41);
  position: relative;
  z-index: 2;
  background-color: $white;

  .card--hz & {
    margin: $card--hz__content-margin;
    padding: $card--hz__content-padding;
    flex: 1;
  }
}

.card__media {
  overflow: hidden;
  z-index: 1;
  .card:not(.card--hz) & {
    @extend %responsive-img;
    &:before {
      content: "";
      padding-top: 100%;
    }
  }

  img {
    transition: 0.2s transform ease-in-out;
  }

  .card--hz & {
    margin: $card--hz__media-margin;
    padding: $card--hz__media-padding;
    width: $card--hz__media-width;
    height: $card--hz__media-height;
  }
}

.card__title {
  margin: 0;
  padding: 0;
  font-family: $nimbus-sans-bold;
  font-weight: 700;
  color: $iastate-red;
  font-size: rem(21);
  line-height: (30 / 21);
  a {
    color: currentColor;
    text-decoration: none;
  }
}

.card__body {
  margin-top: rem(5);
}
