.site-footer {
  background-color: $iastate-red;
  padding: rem(36) rem(36) 0;
  position: relative;
  @include media-breakpoint-up(xl) {
    padding: rem(59) rem(82) 0;
  }
}

.site-footer__flex-wrap {
  @include media-breakpoint-up(xl) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.site-footer__logo {
  width: 100%;
  max-width: rem(516);
  @include media-breakpoint-up(xl) {
    flex: 0 1 auto;
    width: 35%;
  }
  @include media-breakpoint-up(xxl) {
    width: 50%;
  }
}

.site-footer__social-links-wrap {
  @include media-breakpoint-up(xl) {
    flex: 0 1 auto;
    width: 50%;
  }
}

.site-footer__social {
  display: flex;
  justify-content: space-between;
  margin: rem(27) 0;
  @include media-breakpoint-up(md) {
    justify-content: center;
  }
  @include media-breakpoint-up(xl) {
    margin: 0;
    justify-content: flex-end;
  }
  li {
    @include media-breakpoint-up(md) {
      margin-right: rem(30);
    }
    a {
      border: rem(2) solid $iastate-gold;
      border-radius: 50%;
      width: rem(52);
      height: rem(52);
      display: flex;
      align-items: center;
      justify-content: center;
      color: $iastate-gold;
      transition: 0.2s background-color ease-in-out;
      &:hover {
        background-color: $iastate-maroon;
      }
      svg {
        color: currentColor;
        font-size: rem(25);
      }
    }
  }
}

.site-footer__primary-nav {
  margin: rem(33) auto rem(43) auto;
  @include media-breakpoint-up(xl) {
    margin: rem(10) 0 rem(35) 0;
  }
  ul {
    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: center;
    }
    @include media-breakpoint-up(xl) {
      justify-content: flex-end;
    }
    li {
      border-bottom: rem(2) solid $iastate-gold;
      text-align: left;
      margin-left: rem(-36);
      margin-right: rem(-36);
      @include media-breakpoint-up(md) {
        padding: 0 rem(30);
        margin-left: 0;
        margin-right: 0;
      }
      &:first-child {
        border-top: rem(2) solid $iastate-gold;
        @include media-breakpoint-up(md) {
          border-top: none;
          padding-left: 0;
        }
      }
      a {
        color: $white;
        text-decoration: none;
        display: block;
        font-family: $nimbus-sans-bold;
        font-size: rem(21);
        line-height: (34 / 21);
        margin: rem(17) auto;
        transition: 0.2s color ease-in-out;
        white-space: nowrap;
        max-width: rem(236);
        position: relative;
        @include media-breakpoint-up(md) {
          text-align: center;
          display: inline-block;
          max-width: none;
        }
        &:hover {
          color: $iastate-gold;
          &:before {
            right: rem(-5);
          }
        }
        &:before {
          content: "";
          position: absolute;
          right: 0;
          top: rem(12);
          width: rem(9);
          height: rem(9);
          border-right: rem(2) solid $iastate-gold;
          border-bottom: rem(2) solid $iastate-gold;
          transform: rotate(315deg);
          transform-origin: center;
          transition: 0.2s right ease-in-out;
          @include media-breakpoint-up(md) {
            display: none;
          }
        }
      }
    }
  }
}

.site-footer__secondary-nav {
  border-bottom: rem(2) solid $iastate-gold;
  padding-bottom: rem(27);
  margin-bottom: rem(30);
  @include media-breakpoint-up(xl) {
    border-bottom: none;
  }

  ul {
    column-count: 2;
    @include media-breakpoint-up(md) {
      column-count: 3;
    }
    @include media-breakpoint-up(xl) {
      max-width: rem(400);
    }
    li {
      color: $white;
      text-align: center;
      margin-bottom: rem(27);
      font-size: rem(18);
      line-height: (26 / 18);
      @include media-breakpoint-up(xl) {
        margin-bottom: rem(10);
        text-align: left;
        font-size: rem(16);
        line-height: (20 / 16);
      }
      a {
        color: currentColor;
        text-decoration: underline;
        font-family: $nimbus-sans-bold;
        text-decoration-thickness: rem(1);
        text-underline-offset: rem(1);
        @include media-breakpoint-up(xl) {
          white-space: nowrap;
        }
      }
    }
  }
}

.site-footer__section-label {
  color: white;
  text-align: center;
  font-size: rem(18);
  line-height: (26 / 18);
  font-family: $merriweather;
  font-weight: 700;
  @include media-breakpoint-up(xl) {
    font-size: rem(16);
    line-height: (20 / 16);
    text-align: left;
    margin: 0 0 rem(15);
    padding: 0;
  }
}

.site-footer__departments-nav {
  @include media-breakpoint-up(xl) {
    width: auto;
    position: absolute;
    top: rem(227);
    right: rem(82);
  }
  @include media-breakpoint-up(xxl) {
    right: rem(304);
  }
  ul {
    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: space-around;
    }
    @include media-breakpoint-up(xl) {
      justify-content: flex-end;
    }
    @include media-breakpoint-up(xxl) {
      justify-content: flex-start;
    }
    li {
      text-align: center;
      font-family: $nimbus-sans-bold;
      margin-bottom: rem(35);
      font-size: rem(18);
      line-height: (26 / 18);
      @include media-breakpoint-up(xl) {
        font-size: rem(16);
        line-height: (26 / 16);
        text-align: left;
        padding-right: rem(50);
      }
      &:last-child {
        padding-right: 0;
      }
      a {
        display: block;
        color: currentColor;
        text-decoration: underline;
        text-decoration-thickness: rem(1);
        text-underline-offset: rem(1);
        color: $white;
        transition: 0.2s color ease-in-out;
        &:hover {
          color: $iastate-gold;
        }
        &.site-footer__section-email {
          text-decoration: none;
          margin-bottom: rem(8);
          @include media-breakpoint-up(xl) {
            margin-bottom: rem(4);
            margin-top: rem(-2);
          }
          &:hover {
            text-decoration: underline;
            text-decoration-thickness: rem(1);
            text-underline-offset: rem(1);
          }
        }
      }
    }
  }
}

.site-footer__bottom-wrap {
  background-color: $iastate-maroon;
  margin-left: rem(-36);
  margin-right: rem(-36);
  padding-bottom: rem(20);
  @include media-breakpoint-up(xl) {
    margin-left: rem(-82);
    margin-right: rem(-82);
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: rem(82);
    padding-right: rem(82);
    padding-bottom: 0;
  }
}

.site-footer__utility-nav {
  padding: rem(20);
  ul {
    @include media-breakpoint-up(md) {
      column-count: 2;
    }
    @include media-breakpoint-up(xl) {
      column-count: 1;
      display: flex;
    }
    li {
      text-align: center;
      @include media-breakpoint-up(xl) {
        margin-right: rem(15);
      }
      a {
        color: $white;
        transition: 0.2s color ease-in-out;
        font-family: $nimbus-sans-bold;
        font-size: rem(15);
        line-height: (26 / 15);
        &:hover {
          color: $iastate-gold;
        }
      }
    }
  }
}

.site-footer__copyright {
  text-align: center;
  color: $white;
  font-family: $nimbus-sans-regular;
  font-size: rem(15);
  line-height: (28 / 15);
  @include media-breakpoint-up(xl) {
    font-size: rem(18);
    line-height: (28 / 18);
  }
}
