.ecosystem-home-hero {
  position: relative;
  &.ecosystem-home-hero--no-image {
    background-color: $iastate-red;
    padding: rem(50) rem(36);
    @include media-breakpoint-up(md) {
      padding: rem(60) rem(70);
    }
    @include media-breakpoint-up(xl) {
      padding: rem(105) rem(82);
    }
  }

  .iastate22-button-set {
    ul {
      @include media-breakpoint-up(md) {
        display: flex;
      }
      li {
        .iastate22-button {
          @extend %iastate22-button--reverse;
          @include media-breakpoint-up(md) {
            margin-right: rem(20);
          }
        }
      }
    }
  }
}

.ecosystem-home-hero__media {
  @extend %responsive-img;

  .ecosystem-home-hero--featured-image & {
    &:before {
      padding-top: 172.46%;
      @include media-breakpoint-up(md) {
        padding-top: 53.19%;
      }
    }
    &:after {
      content: "";
      background-color: rgba($grey-blue, 0.5);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
    }
  }
  .ecosystem-home-hero--background-video & {
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      pointer-events: none;
    }
  }
}

.ecosystem-home-hero__content {
  .ecosystem-home-hero--featured-image & {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 rem(32);
    z-index: 2;
    @include media-breakpoint-up(md) {
      margin: 0 rem(82);
      width: 80%;
    }
    @include media-breakpoint-up(lg) {
      width: 60%;
      max-width: rem(750);
    }
  }
  .ecosystem-home-hero--no-image & {
    .iastate22-button-set {
      margin-bottom: 0;
    }
  }
}

.ecosystem-home-hero__title {
  color: $white;
}

// Styles for Background Video Variant only
.ecosystem-home-hero__video-button {
  padding: 0 0 0 rem(7);
  height: rem(20);
  background-color: transparent;
  border: none;
  border-left: rem(7) solid $white;
  border-right: rem(7) solid $white;
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: rem(40);
  right: rem(40);
  cursor: pointer;

  &.ecosystem-home-hero__video-button-play {
    border-right: none;
    border-top: rem(10) solid transparent;
    border-bottom: rem(10) solid transparent;
    border-left: rem(10) solid $white;
  }
}
