.statistic-with-text {
  .statistic {
    margin-top: rem(28);
    margin-bottom: rem(42);
    @include media-breakpoint-up(md) {
      max-width: 50%;
      float: left;
      margin: rem(10) rem(45) rem(5) 0;
    }
    @include media-breakpoint-up(lg) {
      margin-right: rem(90);
      max-width: 35%;
    }
  }
}
