.statistic {
  background-color: $red;
  padding: rem(65) rem(40);
  position: relative;
  &:before {
    content: "";
    border-bottom: rem(8) solid $yellow;
    top: rem(-4);
    left: 50%;
    margin-left: rem(-28);
    width: rem(56);
    height: rem(8);
    position: absolute;
  }
}

.statistic__title {
  color: $yellow;
  text-align: center;
  font-size: rem(55);
  line-height: (68 / 55);
  margin: 0;
  padding: 0;
}

.statistic__text {
  margin: 0;
  text-align: center;
  color: $white;
  font-family: $nimbus-sans-bold;
  font-weight: 700;
  font-size: rem(18);
  line-height: (30 / 18);
}
