<figure class="full-width-image">
    <div class="full-width-image__image">
        <img class="lazyload" data-src="{{ image|path }}" alt="">
        <noscript>
            <img src="{{ image|path }}" alt="">
        </noscript>
    </div>
    <figcaption class="full-width-image__caption">{{ caption }}</figcaption>
</figure>