<div class="callout-with-image callout-with-image--small">
  <div class="callout-with-image__media">
    <img src="{{ image|path }}" alt="" width="622" height="414" />
  </div>
  <div class="callout-with-image__content text-content">
    <h3>{{title}}</h3>
    <p>{{body_copy}}</p>
    {% include "@link-set" with link_set %}
  </div>
</div>