.paragraph-widget--call-to-action--small,
.paragraph-widget--call-to-action--large {
  @extend %full-width-component;
  margin-top: rem(60);
}

.paragraph-widget--call-to-action--large {
  @include media-breakpoint-up(lg) {
    margin-top: rem(75);
  }
  @include media-breakpoint-up(xl) {
    margin-top: rem(90);
  }
}

.call-to-action--small {
  background-color: $off-white;
  padding: rem(58) rem(36) rem(40);
  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: flex-end;
  }
  @include media-breakpoint-up(xl) {
    padding-left: rem(280);
  }
  .iastate22-button-set {
    @include media-breakpoint-up(md) {
      flex: 0 1 auto;
      width: 40%;
      margin: 0;
    }
    @include media-breakpoint-up(lg) {
      // width: 25%;
    }
    .iastate22-button {
      background-color: transparent;
      &:hover {
        color: $iastate-maroon;
      }
    }
  }

  .call-to-action__copy-wrap {
    padding-right: rem(39);
    padding-left: rem(39);
    text-align: right;
    @include media-breakpoint-up(md) {
      flex: 0 1 auto;
      width: 60%;
      padding-left: 0;
      max-width: rem(520);
    }
    @include media-breakpoint-up(lg) {
      width: 65%;
    }
    p {
      @include media-breakpoint-up(md) {
        color: $iastate-maroon;
      }
    }

    .call-to-action__headline {
      margin: 0 0 rem(5) 0;
      padding: 0;
    }
  }
}

.call-to-action--large {
  position: relative;

  .call-to-action__media {
    @extend %responsive-img;

    &:before {
      padding-top: 37.44%;
    }
  }
  .call-to-action__copy-wrap {
    background-color: $iastate-red;
    padding: rem(55) rem(36) rem(40);
    position: relative;
    @include media-breakpoint-up(lg) {
      position: absolute;
      top: rem(-30);
      right: 0;
      width: 40%;
      max-width: rem(520);
      padding: rem(30) rem(36) rem(10);
    }
    @include media-breakpoint-up(xl) {
      right: rem(40);
    }
    @include media-breakpoint-up(xxl) {
      right: rem(82);
      padding: rem(64) rem(83) rem(20);
    }

    &:before {
      content: "";
      border-bottom: rem(8) solid $iastate-gold;
      top: rem(-4);
      left: 50%;
      margin-left: rem(-28);
      width: rem(56);
      height: rem(8);
      position: absolute;
    }

    .call-to-action__headline,
    p {
      color: $white;
    }

    .call-to-action__headline {
      margin: 0 0 rem(23) 0;
      padding: 0;
    }

    p {
      font-family: $nimbus-sans-bold;
      font-size: rem(16);
      line-height: (29 / 16);
      font-weight: 700;
    }
  }
  .iastate22-button-set {
    margin-top: rem(26);
    @include media-breakpoint-up(md) {
      margin-top: 0;
    }
    .iastate22-button {
      @extend %iastate22-button--reverse;
    }
  }
}
