<div class="card-set{% if teaser_news %} card-set--teaser{% elseif teaser_profile %} card-set--teaser {% elseif teaser_profile %} card-set--teaser{% endif %}">
  <ul>
    {% for card in cards %}
        <li>{% include "@card--linked-image-with-video" with card %}</li>
    {% endfor %}
  </ul>
</div>